@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar sans text-shadow */
.navbar, .navbar * {
    text-shadow: none !important;
}


.bg1 {
    position: relative;
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.85);
}
p {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.bg1 h1, .bg1 p {
    position: relative;
    z-index: 1;
}

.bg2 {
    background-image: url('./asset/utlitaire/utilitaire\ bg.jpg');
    background-size: cover;
    background-position: center;
}

.bg3 {
    background-image: url('./asset/Vie-quotidienne-Espace-famille-1280x853.jpg');
    background-size: cover;
    background-position: center;
}

.bg4 {
    background-image: url('./asset/drift-7248723_1280.jpg');
    background-size: cover;
    background-position: center;
}


.bg5 {
    background-image: url('./asset/technologie/b-Porsche\ wins\ AutomotiveINNOVATIONS\ award\ .jpeg');
    background-size: cover;
    background-position: center;

}

.bg6 {
    background-image: url('./asset/');
    background-size: cover;
    background-position: center;
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

    .img-container {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }

    .img-container > div {
        width: 300px;
        height: 400px;
        margin: 20px;
        background: #f5f5f5;
        overflow: hidden;
    }

    .img-container img {
        width: 300px;
        height: 400px;
    }


    .img-container h2 {
        color: var(--accent);
        margin: 0;
        font-family: "Azeret Mono", monospace;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: 1.2;
        position: absolute;
        display: inline-block;
        top: calc(50% - 25px);
        left: calc(50% + 120px);
    }

    .progress {
        position: fixed;
        left: 0;
        right: 0;
        height: 5px;
        background: var(--accent);
        bottom: 50px;
        transform: scaleX(0);
    }

    .box{
        transition: transform 0.3s ease-out;
    }